notes/initial_writeup/paper.aux
notes/initial_writeup/paper.bbl
notes/initial_writeup/paper.blg
notes/initial_writeup/paper.log
notes/initial_writeup/paper.out
notes/initial_writeup/paper.pdf
papers/IoT2017/paper.aux
papers/IoT2017/paper.bbl
papers/IoT2017/paper.blg
papers/IoT2017/paper.log
papers/IoT2017/paper.out
papers/IoT2017/paper.pdf
code/PhaseII/components/cplex/*
